name: CI

on:
  push:
    branches:
      - main
  pull_request:

jobs:
  checks:
    name: Test + Lint
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v2

      - name: Install Rust
        uses: actions-rs/toolchain@v1
        with:
          profile: default
          toolchain: 1.56.1
          default: true
          components: clippy, rustfmt

      - name: Cache .cargo
        uses: actions/cache@v1
        with:
          path: ~/.cargo
          key: ${{ runner.os }}-cargo-${{ hashFiles('Cargo.toml') }}
          restore-keys: |
            ${{ runner.os }}-cargo-${{ hashFiles('Cargo.toml') }}
            ${{ runner.os }}-cargo
      
      - name: Cache cargo target
        uses: actions/cache@v1
        with:
          path: target
          key: ${{ runner.os }}-cargo-target-${{ hashFiles('Cargo.toml') }}
          restore-keys: |
            ${{ runner.os }}-cargo-target-${{ hashFiles('Cargo.toml') }}
            ${{ runner.os }}-cargo-target
      
      - name: Install wasmtime-cli
        run: cargo install wasmtime-cli

      - name: Install cargo-wasi
        run: cargo install cargo-wasi

      - name: Tests
        run: make test

      - name: Lint
        run: make fmt-check
 
